table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid gray;
}

tbody tr:nth-child(odd),
thead {
  background-color: lightblue;
}

thead th {
  height: 50px;
}

tbody td {
  height: 30px;
}

/* table thead {
  display: block;
  width: 100%;
} */

/* tbody {
  height: 200px;
  display: block;
  overflow: auto;
} */
