<table class="table-fixed">
  <thead>
    <tr>
      <th *ngFor="let c of columns">{{c.headerText}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of getDisplayData()">
      <td *ngFor="let c of columns">{{d[c.propertyName]}}</td>
      <td><button (click)="onSubmit(d)" type="button">Submit</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td [attr.colspan]="columns.length + 1">
        <button (click)="onNextClick()">Next</button>
        <button (click)="onPrevClick()">Prev</button>
        Showing {{pageIndex * pageSize + 1}} to {{pageIndex * pageSize + pageSize }}
        Rows Count<select (change)="onChange($event)" [ngModel]="pageSize">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </td>
    </tr>

  </tfoot>
</table>
