<!--The content below is only a placeholder and can be replaced.-->
<app-custom-table (submit)="onSubmit($event)" [data]="data" [pageSize]="10" [columns]="columns"></app-custom-table>
<router-outlet></router-outlet>
